body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* First section of the page */

.first {
    background-color: #1F2937;
    display: flex;
    height: 250px;
    margin: 0;
    flex-direction: column;
    
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    white-space: nowrap;
}

.links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.h-link{
    font-size: 15px;
    color:#E5E7EB;
    margin-left: 10px; /* Adjust the value as needed */
}

.bottom {
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#hero-main-text {
    font-size: 30px;
    color: #F9FAF8;
    font-weight: 900;
}

#hero-subtext {
    font-size: 14px;
    color: #E5E7EB;
    margin-top: -20px;
}

.button {
    padding:5px 20px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
}

.bottom-text {
    flex: 1;
}

.imagePlaceholder {
    margin-left: 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    color: #F9FAF8;
    width: 300px;
    height: 150px;
    border: 1px solid black;
    background-color: grey;
    padding-left: 60px;
}

/* Second section of the page */

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.random-header {
    font-weight: 900px;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 20px;
}

.pic-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.random-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.placeholder {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 3px solid #3882F6;
}

.random-pic p{
    margin: 0;
    width: 200px;
    text-align: center;
    font-size: 14px;
    color: #1F2937;
}

/* Third section of the page */

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding-bottom: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    width: 800px;
    
}

.quote p {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.quoter {
    margin-left: auto;
    font-weight: bold;
    font-size: 18px;
    margin-top: -10px;
    padding-bottom: 5px;
}

/* Fourth section of the page */

.fourth {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.callToAction {
    display: flex;
    background-color: #3882F6;
    width: 1000px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
}

.fourthButton {
    font-size: 14px;
    font-weight: 700;
    color: #F9FAF8;
    margin-left: auto;
    width: 150px;
    align-self: center;
    background-color: #3882F6;
    border-radius: 6px;
    border: 3px solid white;
    padding: 8px;
}

#topText {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
}

#bottomText {
    color: #F9FAF8;
    font-size: 12px;
}

/* Footer */

.footer {
    background-color: #1F2937;
    display: flex;
    height: 50px;
    justify-content: center;
}

.footer p{
    color: #E5E7EB;
    font-size: 15px;
}
